@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Homemade+Apple&family=Karla:ital,wght@0,200..800;1,200..800&family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "M PLUS Rounded 1c", sans-serif, serif, "Courier New", Courier,
        monospace;
    user-select: none;
}
body {
    background-color: #fff2e1;
    overflow-x: hidden;
}
header {
    position: sticky;
    z-index: 1000;
}

@media screen and (min-width: 800px) {
    header {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        z-index: 50;
    }
    header.scrolled {
        transform: translateY(-55px);
        opacity: 0.6;
    }

    header:hover {
        transform: translateY(0);
        opacity: 1;
    }
    .header-content {
        display: flex;
        justify-content: space-around;
        width: 75% !important;
        height: 65px;
    }
    .background-header {
        background-color: #ead8c0 !important;
        border-radius: 40px !important;
    }
    .curriculum-background {
        border-radius: 10px !important;
    }
}
.background-header {
    background-color: #ead8c0 !important;
}
.title-color-header {
    color: #a79277;
    margin-right: 25px !important;
}
.text-color-header {
    color: #a79277;
}

.text-color-header-hover:hover {
    color: #fff2e1;
}
.border-color-header {
    border-color: #fff2e1;
}
.logo-header {
    color: #a79277;
    font-size: 2em;
    transition: transform 0.5s ease;
}
.logo-header:hover {
    transform: rotate(1080deg);
    transition: 1.5s cubic-bezier(0.5, 0, 0, 1);
}
