html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #a79277;
}
body::-webkit-scrollbar {
    width: 12px;
    background-color: #a79277;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ead8c0;
}
section {
    margin-bottom: 20px;
}
.background-color {
    background-color: #ead8c0 !important;
}
.background-color-2 {
    background-color: #fff2e1;
}

#home {
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/home-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
    z-index: 1;
}
.titles {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    border-radius: 5px;
    background-color: rgba(102, 86, 47, 0.163);
    color: #a79277;
}
.cursor {
    display: inline-block;
    width: 2px;
    height: 1.1em;
    background-color: #a79277;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
#about {
    background-color: white;
}
#education {
    background-color: white;
}
#skills {
    background-color: white;
}
.about-me-center {
    max-width: 600px;
    margin: auto;
    width: 85%;
}
.title {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
}
.about-me-text {
    margin-top: 25px;
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 25px;
}
.accordion-center {
    max-width: 1200px;
    margin: auto;
    width: 85%;
}
#accordion-collapse {
    margin-bottom: 25px;
    margin-top: 25px;
}
/*CARDS*/
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.card {
    position: relative;
    width: 600px;
    height: 250px;
    background-color: #ead8c0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    transform: translate(5%, 5%);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff2e1f3;
    filter: opacity(0);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    filter: opacity(1);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}
.img-card {
    height: auto;
    width: max-content;
}

/*contact*/
/*contact*/
/*contact*/
/*contact*/
/*contact*/
/*contact*/
/*contact*/
/*contact*/
/*contact*/
/*contact*/
#contact-container {
    margin-right: 2vw;
    margin-left: 2vw;
}
.form-send-btn {
    background-color: #b68c57;
}
.form-send-btn:hover {
    background-color: #cfaa7c;
}
.form-message {
    min-height: 50px;
    max-height: 400px;
}
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px #00000027;
    padding: 15px 10px;
    border-radius: 5em;
    height: 65px;
    width: 250px;
    margin: 0;
    padding: 0;
    transform: translateX(50%);
}
.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
}
.social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
}
.social-buttons svg {
    transition: 0.3s;
    height: 20px;
}
.github {
    background-color: #333;
}
.github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
}
.github:hover svg {
    fill: #333;
}
.linkedin {
    background-color: #0077b5;
}
.linkedin svg {
    fill: #f2f2f2;
}
.linkedin:hover svg {
    fill: #0077b5;
}
.skills-container {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.skills-lists {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
}
.skills-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.skills-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}
.skills-list {
    list-style: none;
    padding: 0;
}
.skills-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.2em;
    transition: transform 0.2s ease-in-out;
}
.skills-list li i {
    margin-right: 10px;
    color: #b68c57;
    font-size: 1.5em;
}
.skills-list li:hover {
    transform: scale(1.06);
}
@media (max-width: 768px) {
    .skills-lists {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 480px) {
    .skills-title {
        font-size: 1.2em;
    }

    .skills-list li {
        font-size: 1.1em;
    }

    .skills-list li i {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em !important;
    }
}
